<div #all class="wrimagecard wrimagecard-topimage c-mt-30">
    <a (click)="setCategory('All', all)">
        <div class="wrimagecard-topimage_header bg-c-all">
            <div class="c-all-align"><i class="fa fa-globe"></i></div>
        </div>
        <div class="wrimagecard-topimage_title">
            <h4>All</h4>
        </div>
    </a>
</div>
<div #love class="wrimagecard wrimagecard-topimage c-mt-30">
    <a (click)="setCategory('Love', love)">
        <div class="wrimagecard-topimage_header bg-c-love">
            <div class="c-love-align"><i class="fas fa-heart"></i></div>
        </div>
        <div class="wrimagecard-topimage_title">
            <h4>Love</h4>
        </div>
    </a>
</div>
<div #education class="wrimagecard wrimagecard-topimage c-mt-30">
    <a (click)="setCategory('Education', education)">
        <div class="wrimagecard-topimage_header bg-c-education">
            <div class="c-education-align"><i class="fas fa-graduation-cap"></i></div>
        </div>
        <div class="wrimagecard-topimage_title">
            <h4>Education</h4>
        </div>
    </a>
</div>
<div #travel class="wrimagecard wrimagecard-topimage c-mt-30">
    <a (click)="setCategory('Travel', travel)">
        <div class="wrimagecard-topimage_header" style="background-color: rgba(250, 188, 9, 0.1)">
            <div style="text-align: center;"><i class="fas fa-plane" style="color:#fabc09"></i></div>
        </div>
        <div class="wrimagecard-topimage_title">
            <h4>Travel</h4>
        </div>
    </a>
</div>
<div #sport class="wrimagecard wrimagecard-topimage c-mt-30">
    <a (click)="setCategory('Sport', sport)">
        <div class="wrimagecard-topimage_header bg-c-sport">
            <div class="c-sport-align"><i class="fas fa-dumbbell"></i></div>
        </div>
        <div class="wrimagecard-topimage_title">
            <h4>Sport</h4>
        </div>
    </a>
</div>
<div #nature class="wrimagecard wrimagecard-topimage c-mt-30">
    <a (click)="setCategory('Nature', nature)">
        <div class="wrimagecard-topimage_header bg-c-nature">
            <div class="c-nature-align"><i class="fas fa-leaf"></i></div>
        </div>
        <div class="wrimagecard-topimage_title">
            <h4>Nature</h4>
        </div>
    </a>
</div>
<div #animal class="wrimagecard wrimagecard-topimage c-mt-30">
    <a (click)="setCategory('Animal', animal)">
        <div class="wrimagecard-topimage_header bg-c-animal">
            <div class="c-animal-align"><i class="fas fa-paw"></i></div>
        </div>
        <div class="wrimagecard-topimage_title">
            <h4>Animal</h4>
        </div>
    </a>
</div>
